<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Input page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>

	<div id="agePage" th:fragment="agePage">
		<h1>AGE</h1>
		<input id="ageInput" placeholder="Your input here" />
		<button class="btn btn-primary" type="button" onclick="nextInput();">
			<b>Next</b>
		</button>

		<script th:inline="javascript">
			function nextInput() {
				var x = document.getElementById("ageInput").value;
				$.ajax({
					url : "/setActiveInput",
					type : "GET",
					data : {
						activePage : 'weightPage',
						input: x 
					},
					success : function() {
						location.replace("/");
					}
				});
			}
		</script>
	</div>

	<div id="weightPage" th:fragment="weightPage">
		<h1>WEIGHT</h1>
		<input id="weightInput" placeholder="Your input here" />
		<button class="btn btn-primary" type="button" onclick="nextInput();">
			<b>Next</b>
		</button>
		<p>Results:</p>
		<div style="display: inline;">
			<p style="display: inherit;">Biceps: Between</p>
			<p id = "minBiceps" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxBiceps" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Triceps: Between</p>
			<p id = "minTriceps" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxTriceps" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Forearm: Between</p>
			<p id = "minForearm" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxForearm" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Shoulder: Between</p>
			<p id = "minShoulder" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxShoulder" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Chest: Between</p>
			<p id = "minChest" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxChest" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Back: Between</p>
			<p id = "minBack" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxBack" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Abdomen: Between</p>
			<p id = "minAbdomen" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxAbdomen" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Feet: Between</p>
			<p id = "minFeet" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxFeet" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Legs: Between</p>
			<p id = "minLegs" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxLegs" style="display: inherit;"></p>
		</div>
		<script>
			function getResult() {
				$.ajax({
					url : "/getResultAfterAgeSet",
					type : "GET",
					success : function(data) {
						document.getElementById("minBiceps").innerHTML = data.minBiceps;
						document.getElementById("minTriceps").innerHTML = data.minTriceps;
						document.getElementById("minForearm").innerHTML = data.minForearm;
						document.getElementById("minShoulder").innerHTML = data.minShoulder;
						document.getElementById("minChest").innerHTML = data.minChest;
						document.getElementById("minBack").innerHTML = data.minBack;
						document.getElementById("minAbdomen").innerHTML = data.minAbdomen;
						document.getElementById("minFeet").innerHTML = data.minFeet;
						document.getElementById("minLegs").innerHTML = data.minLegs;
						document.getElementById("maxBiceps").innerHTML = data.maxBiceps;
						document.getElementById("maxTriceps").innerHTML = data.maxTriceps;
						document.getElementById("maxForearm").innerHTML = data.maxForearm;
						document.getElementById("maxShoulder").innerHTML = data.maxShoulder;
						document.getElementById("maxChest").innerHTML = data.maxChest;
						document.getElementById("maxBack").innerHTML = data.maxBack;
						document.getElementById("maxAbdomen").innerHTML = data.maxAbdomen;
						document.getElementById("maxFeet").innerHTML = data.maxFeet;
						document.getElementById("maxLegs").innerHTML = data.maxLegs;
					}
				});
			}
		</script>
		<script>
			function nextInput() {
				var x = document.getElementById("weightInput").value;
				$.ajax({
					url : "/setActiveInput",
					type : "GET",
					data : {
						activePage : 'heightPage',
						input : x
					},
					success : function() {
						location.replace("/");
					}
				});
			}
		</script>
	</div>

	<div id="heightPage" th:fragment="heightPage">
		<h1>HEIGHT</h1>
		<input id="heightInput" placeholder="Your input here" />
		<button class="btn btn-primary" type="button" onclick="nextInput();">
			<b>Next</b>
		</button>
		<p>Results:</p>
		<div style="display: inline;">
			<p style="display: inherit;">Biceps: Between</p>
			<p id = "minBiceps" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxBiceps" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Triceps: Between</p>
			<p id = "minTriceps" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxTriceps" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Forearm: Between</p>
			<p id = "minForearm" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxForearm" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Shoulder: Between</p>
			<p id = "minShoulder" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxShoulder" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Chest: Between</p>
			<p id = "minChest" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxChest" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Back: Between</p>
			<p id = "minBack" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxBack" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Abdomen: Between</p>
			<p id = "minAbdomen" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxAbdomen" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Feet: Between</p>
			<p id = "minFeet" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxFeet" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Legs: Between</p>
			<p id = "minLegs" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxLegs" style="display: inherit;"></p>
		</div>
		<script>
			function getResult() {
				$.ajax({
					url : "/getResultAfterAgeSet",
					type : "GET",
					success : function(data) {
						document.getElementById("minBiceps").innerHTML = data.minBiceps;
						document.getElementById("minTriceps").innerHTML = data.minTriceps;
						document.getElementById("minForearm").innerHTML = data.minForearm;
						document.getElementById("minShoulder").innerHTML = data.minShoulder;
						document.getElementById("minChest").innerHTML = data.minChest;
						document.getElementById("minBack").innerHTML = data.minBack;
						document.getElementById("minAbdomen").innerHTML = data.minAbdomen;
						document.getElementById("minFeet").innerHTML = data.minFeet;
						document.getElementById("minLegs").innerHTML = data.minLegs;
						document.getElementById("maxBiceps").innerHTML = data.maxBiceps;
						document.getElementById("maxTriceps").innerHTML = data.maxTriceps;
						document.getElementById("maxForearm").innerHTML = data.maxForearm;
						document.getElementById("maxShoulder").innerHTML = data.maxShoulder;
						document.getElementById("maxChest").innerHTML = data.maxChest;
						document.getElementById("maxBack").innerHTML = data.maxBack;
						document.getElementById("maxAbdomen").innerHTML = data.maxAbdomen;
						document.getElementById("maxFeet").innerHTML = data.maxFeet;
						document.getElementById("maxLegs").innerHTML = data.maxLegs;
					}
				});
			}
		</script>
		<script>
			function nextInput() {
				var x = document.getElementById("heightInput").value;
				$.ajax({
					url : "/setActiveInput",
					type : "GET",
					data : {
						activePage : 'stylePage',
						input : x
					},
					success : function() {
						location.replace("/");
					}
				});
			}
		</script>
	</div>

	<div id="stylePage" th:fragment="stylePage">
		<h1>STYLE</h1>
		<select class="form-control" id="styleSelect">
			<option
				th:each="style: ${allStyles}"
				th:label="${style}" th:value="${style}"></option>
		</select>
		<button class="btn btn-primary" type="button" onclick="nextInput();">
			<b>Next</b>
		</button>
		<p>Results:</p>
		<div style="display: inline;">
			<p style="display: inherit;">Biceps: Between</p>
			<p id = "minBiceps" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxBiceps" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Triceps: Between</p>
			<p id = "minTriceps" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxTriceps" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Forearm: Between</p>
			<p id = "minForearm" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxForearm" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Shoulder: Between</p>
			<p id = "minShoulder" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxShoulder" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Chest: Between</p>
			<p id = "minChest" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxChest" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Back: Between</p>
			<p id = "minBack" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxBack" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Abdomen: Between</p>
			<p id = "minAbdomen" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxAbdomen" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Feet: Between</p>
			<p id = "minFeet" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxFeet" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Legs: Between</p>
			<p id = "minLegs" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxLegs" style="display: inherit;"></p>
		</div>
		<script>
			function getResult() {
				$.ajax({
					url : "/getResultAfterAgeSet",
					type : "GET",
					success : function(data) {
						document.getElementById("minBiceps").innerHTML = data.minBiceps;
						document.getElementById("minTriceps").innerHTML = data.minTriceps;
						document.getElementById("minForearm").innerHTML = data.minForearm;
						document.getElementById("minShoulder").innerHTML = data.minShoulder;
						document.getElementById("minChest").innerHTML = data.minChest;
						document.getElementById("minBack").innerHTML = data.minBack;
						document.getElementById("minAbdomen").innerHTML = data.minAbdomen;
						document.getElementById("minFeet").innerHTML = data.minFeet;
						document.getElementById("minLegs").innerHTML = data.minLegs;
						document.getElementById("maxBiceps").innerHTML = data.maxBiceps;
						document.getElementById("maxTriceps").innerHTML = data.maxTriceps;
						document.getElementById("maxForearm").innerHTML = data.maxForearm;
						document.getElementById("maxShoulder").innerHTML = data.maxShoulder;
						document.getElementById("maxChest").innerHTML = data.maxChest;
						document.getElementById("maxBack").innerHTML = data.maxBack;
						document.getElementById("maxAbdomen").innerHTML = data.maxAbdomen;
						document.getElementById("maxFeet").innerHTML = data.maxFeet;
						document.getElementById("maxLegs").innerHTML = data.maxLegs;
					}
				});
			}
		</script>
		<script>
			function nextInput() {
				var x = document.getElementById("styleSelect").value;
				$.ajax({
					url : "/setActiveInput",
					type : "GET",
					data : {
						activePage : 'resultPage',
						input : x
					},
					success : function() {
						location.replace("/");
					}
				});
			}
		</script>
	</div>

	<div id="resultPage" th:fragment="resultPage">
		<h1>RESULT</h1>
		<p>Results:</p>
		<div style="display: inline;">
			<p style="display: inherit;">Biceps: Between</p>
			<p id = "minBiceps" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxBiceps" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Triceps: Between</p>
			<p id = "minTriceps" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxTriceps" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Forearm: Between</p>
			<p id = "minForearm" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxForearm" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Shoulder: Between</p>
			<p id = "minShoulder" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxShoulder" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Chest: Between</p>
			<p id = "minChest" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxChest" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Back: Between</p>
			<p id = "minBack" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxBack" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Abdomen: Between</p>
			<p id = "minAbdomen" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxAbdomen" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Feet: Between</p>
			<p id = "minFeet" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxFeet" style="display: inherit;"></p>
		</div>
		<br />
		<div style="display: inline;">
			<p style="display: inherit;">Legs: Between</p>
			<p id = "minLegs" style="display: inherit;"></p>
			<p style="display: inherit;">and</p>
			<p id = "maxLegs" style="display: inherit;"></p>
		</div>
		<script>
			function getResult() {
				$.ajax({
					url : "/getResultAfterAgeSet",
					type : "GET",
					success : function(data) {
						document.getElementById("minBiceps").innerHTML = data.minBiceps;
						document.getElementById("minTriceps").innerHTML = data.minTriceps;
						document.getElementById("minForearm").innerHTML = data.minForearm;
						document.getElementById("minShoulder").innerHTML = data.minShoulder;
						document.getElementById("minChest").innerHTML = data.minChest;
						document.getElementById("minBack").innerHTML = data.minBack;
						document.getElementById("minAbdomen").innerHTML = data.minAbdomen;
						document.getElementById("minFeet").innerHTML = data.minFeet;
						document.getElementById("minLegs").innerHTML = data.minLegs;
						document.getElementById("maxBiceps").innerHTML = data.maxBiceps;
						document.getElementById("maxTriceps").innerHTML = data.maxTriceps;
						document.getElementById("maxForearm").innerHTML = data.maxForearm;
						document.getElementById("maxShoulder").innerHTML = data.maxShoulder;
						document.getElementById("maxChest").innerHTML = data.maxChest;
						document.getElementById("maxBack").innerHTML = data.maxBack;
						document.getElementById("maxAbdomen").innerHTML = data.maxAbdomen;
						document.getElementById("maxFeet").innerHTML = data.maxFeet;
						document.getElementById("maxLegs").innerHTML = data.maxLegs;
					}
				});
			}
		</script>
	</div>
</body>
</html>